<div class="articles">
    {{#each articles}}{{#unless saved}}
    <div class="card">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <a href="https://www.foxnews.com{{this.link}}">
                <h5 class="card-title">{{this.title}}</h5>
            </a>
            <p class="card-text">{{this.content}}</p>

            <button type="button" class="btn btn-info view-comments" data-toggle="modal" data-target="#CommentModal"
                data-id="{{this._id}}"> Comments </button>
            <button type="button" class="btn btn-primary save-article" data-target="#saveModal" data-toggle="modal"
                data-id="{{this._id}}"> Save
                Article</button>

        </div>
    </div>
    {{/unless}}{{/each}}
</div>