<div class="article-container">
    <div id="article">
        {{#each articles}}{{#if saved}}
        <div class="card">
            <div class="card-body">
                <a href="https://www.foxnews.com{{this.link}}">
                    <h5 class="card-title">{{this.title}}</h5>
                </a>
                <p class="card-text">{{this.content}}</p>
                <button type="button" class="btn btn-info view-comments" data-toggle="modal"
                    data-target="#comments-modal" data-id="{{_id}}"> Comments </button>
                <button type="button" class="btn btn-primary remove-article" data-target="#returnArticleModal"
                    data-toggle="modal" data-id="{{_id}}"> Remove
                    Article
                </button>
            </div>
        </div>
        {{/if}}{{/each}}
    </div>

    <!-- Comments Modal -->
    <div id="comments-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 id="article-title" class="modal-title"></h3>
                </div>
                <div class="modal-body">

                    <!--Comment form-->
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter your name!">

                        <br>

                        <label for="comment">Comment:</label>
                        <textarea class="form-control" id="comment" rows="4"></textarea>

                        <br>

                        <div id="post-button">

                        </div>


                    </div>

                    <hr>


                    <!--Section to display existing comments-->
                    <strong>
                        <h4>Comments:</h4>
                    </strong>

                    <br>

                    <div id="existing-comments"></div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>




    <!-- Return Article Modal -->
    <div id="returnArticleModal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal body -->
                <div class="modal-body" id="modal-message">
                    Article Returned!
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn returnArticleCloseBtn" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>